body{
  background: url(../img/cocina.jpg) no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position:bottom;
  min-height: 100rem;
}

.contenedor{
  max-width: 62.5rem;
  background-color: rgba(203, 137, 155, 0.4);
  margin-right: auto;
  margin-left: auto;
}

.slogan{
  text-align: right;
  font-style: italic;
}

.empty-nav {
    border-left: 1px solid #721099;
    margin-top: 0.5rem;
}

hr{
  border-bottom: 1px solid #721099;
  background-color: rgba(203, 137, 155, 0.4);
  max-width: 60rem;
}

.favtitle{
  color: #721099;
}
.historias{
  color: #721099;
  font-size: 12px
}
